<div class="CSSTableGenerator">
<h1>Listing comments</h1>

<table>
  <tr>
    <td>Log</td>
    <td>User</td>
    <td>Body</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.log_id %></td>
    <td><%= comment.user_id %></td>
    <td><%= comment.body %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Comment', new_comment_path %>
